<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Register Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/signin.css}" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin" th:action="@{/updateAdmin/update}" method="post">
    <input type="hidden" name="id" th:value="${employee_update.getId()}">
    <div class="form-group">
        <label>name</label>
        <input th:value="${employee_update.getName()}" type="text" name="name" class="form-control" placeholder="姓名">
    </div>
    <div class="form-group">
        <label>age</label>
        <input th:value="${employee_update.getAge()}" type="age" name="age" class="form-control" placeholder="年龄">
    </div>
    <div class="form-group">
        <label>idCard</label>
        <input th:value="${employee_update.getId_card()}" type="text" name="idCard" class="form-control" placeholder="身份证号">
    </div>
    <div class="form-group">
        <label>birth</label>
        <input th:value="${#dates.format(employee_update.getBirth(),'yyyy-MM-dd')}" type="text" name="birth" class="form-control" placeholder="生日">
    </div>
    <div class="form-group">
        <label>departmentName</label>
        <input th:value="${employee_update.getDepartment_name()}" type="text" name="departmentName" class="form-control" placeholder="部门">
    </div>
    <div class="form-group">
        <label>gender</label><br>
        <div class="form-check form-check-inline">
            <input th:checked="${employee_update.getGender()==1}" class="form-check-input" type="radio" name="gender" value="1">
            <label class="form-check-label">男</label>
        </div>
        <div class="form-check form-check-inline">
            <input th:checked="${employee_update.getGender()==0}" class="form-check-input" type="radio" name="gender" value="0">
            <label class="form-check-label">女</label>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">修改</button>
</form>
</body>

</html>